
<div ng-include="'./User/logout.html'"></div>
<div ng-include="'./User/UserProfile.html'"></div>

<div class="col-md-9">
	<div class="row" data-ng-repeat="j in jobCtrl.joblist">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="col-md-1">
						<strong><a class="post-title" href=""><b>Title:</b></a></strong>
					</div>
					<div class="col-md-3">
						<strong><a class="post-title" href=""><b>{{j.title}}</b></a></strong>
					</div>
					<div class="col-md-1">
						<strong><a class="post-title" href=""><b>Comp:</b></a></strong>
					</div>
					<div class="col-md-3">
						<strong><a class="post-title" href=""><b>{{j.company}}</b></a></strong>
					</div>
					<div class="col-md-1">
						<strong><a class="post-title" href=""><b>Qual:</b></a></strong>
					</div>
					<div class="col-md-3">
						<strong><a class="post-title" href=""><b>{{j.qualification}}</b></a></strong>
					</div>
					<br>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8">
								<h5>
									<b>JobDesp:</b>
								</h5>
								<b><p>{{j.description}}</p></b>
							</div>
							<div class="col-md-2" ng-show="currentUser.role!='admin'">
								<a href class="btn btn-sm btn-success"
									ng-click="jobCtrl.applyJob(j)"> <span
									class="glyphicon glyphicon-hand-up" ></span>Apply
								</a><br>

							</div>
							<div class="col-md-2" ng-show="currentUser.role=='admin'">
								<a href="#!info/{{j.jobId}}" class="btn btn-sm btn-success"><span
									class="glyphicon glyphicon-hand-up"></span>ViewCandidates</a>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-3">

	<li><a href="#!myappliedjobs" class="btn btn-success" 
		ng-show="currentUser.role!='admin'"><span
			class="glyphicon glyphicon-hand-up"></span>MyAppliedJobs</a><br> <br></li>

	<div ng-show="currentUser.role=='admin'">
		<li><a href="#!postjobs" class="btn btn-success"><span
				class="glyphicon glyphicon-hand-up"></span>PostJobs</a><br> <br></li>

	</div>

	<!-- <div ng-show="currentUser.role=='admin'">
		<li><a href class="btn btn-success"  ng-click="jobCtrl.getAppliedJobListAdmin()"><span
				class="glyphicon glyphicon-hand-up"></span>SeeAllAppliedJobs</a><br> <br></li>

	</div> -->

</div>


