<div class="row" ng-show="jobCtrl.updatebyadmin">
<div ng-include="'./User/logout.html'"></div>
<div ng-include="'./User/UserProfile.html'"></div>

<div class="well">
	<table class="table">
		<thead>
			<tr>
				<th>JobTitle</th>
				<th>Company</th>
				<th>JobDesp</th>
				<th>Name</th>
				<th>City</th>
				<th>Qual.</th>
				<th>JobExp.</th>
				<th>Status</th>
				
				<th style="width: 36px;"></th>
			</tr>
		</thead>
		<tbody data-ng-repeat="j in jobCtrl.joblist">
			<tr>
				<td>{{j.job.title}}</td>
				<td>{{j.job.company}}</td>
				<td>{{j.job.description}}</td>
				<td>{{j.user.fullName}}</td>
				<td>{{j.user.userProfile.state}}</td>
				<td>{{j.user.userProfile.qualification}}</td>
				<td>{{j.user.userProfile.experience}}</td>
				<!-- <td><select>
						<option value='N' data-ng-model="jobCtrl.j.status">New</option>
						<option value='A' data-ng-model="jobCtrl.j.status">Accept</option>
						<option value='R' data-ng-model="jobCtrl.j.status">Reject</option>
						</select></td>
						<td><input type="text" placeholder="Put Remarks..." data-ng-model="jobCtrl.j.remarks"></td> -->
						<td><a href  ng-click="jobCtrl.editByAdmin(j)">Edit</a></td>
				
			</tr>
			</tbody>
	</table>
</div>
</div>
<!-- -----------------------------------------Edit By Admin--------------------------------------------------------------------------- -->
<div class="row" ng-show="jobCtrl.myappliedjob">
<div ng-include="'./User/login.html'"></div>
<div ng-include="'./User/UserProfile.html'"></div>
<div class="well">
	<table class="table">
		<thead>
			<tr>
				<th>JobTitle</th>
				<th>Company</th>
				<th>JobDesp</th>
				<th>Name</th>
				<th>City</th>
				<th>Qual.</th>
				<th>JobExp.</th>
				
				
				<th style="width: 36px;"></th>
			</tr>
		</thead>
		<tbody >
			<tr>
				<td>{{jobCtrl.selectedJob.job.title}}</td>
				<td>{{jobCtrl.selectedJob.job.company}}</td>
				<td>{{jobCtrl.selectedJob.job.description}}</td>
				<td>{{jobCtrl.selectedJob.user.fullName}}</td>
				<td>{{jobCtrl.selectedJob.user.userProfile.state}}</td>
				<td>{{jobCtrl.selectedJob.user.userProfile.qualification}}</td>
				<td>{{jobCtrl.selectedJob.user.userProfile.experience}}</td></tr>
	<tr>
	<td>Enter Remarks:&nbsp&nbsp<input type="text" placeholder="enter remarks" ng-model="jobCtrl.selectedJob.remarks"></td></tr>
	<tr><td>Enter Status:&nbsp&nbsp<label class="control-label" for="">Accepted</label>
				  <input type="radio"  name="status" value="Accepted" ng-model="jobCtrl.selectedJob.status" required>
				  <label class="control-label" for="">Rejected</label>
				  <input type="radio"  name="status" value="Rejected" ng-model="jobCtrl.selectedJob.status" required></td></tr>
				  
	<tr><td><a href class="btn btn-sm btn-success"
									ng-click="jobCtrl.updateByAdmin()"> <span
									class="glyphicon glyphicon-hand-up"></span>Apply
								</a></td>
			</tr>
			</tbody>
	</table>
</div>



</div>