<div ng-include="'./User/login.html'"></div>
<div ng-include="'./User/UserProfile.html'"></div>

<div class="row" ng-init="frndCtrl.seeAllSendRqst()">
	<div class="col-md-9" >
		<div class="row" ng-repeat="frnd in frndCtrl.friendlist">
			<div class="col-md-3" >
				<img src="" class="img-circle">
			</div>
			<div class="col-md-4">
				<h5>
					<b>Name:&nbsp&nbsp{{frnd.friend.fullName}}</b>
				</h5>

				<h5>
					<b>Email:&nbsp&nbsp{{frnd.friend.email}}</b>
				</h5>
				<h5>
					<b>State:&nbsp&nbsp{{frnd.friend.userProfile.state}}</b>
				</h5>
				<h5>
					<b>City:&nbsp&nbsp{{frnd.friend.userProfile.city}}</b>
				</h5>
			</div>
			<div class="col-md-5">
				<h5><b>Request Sent</b></h5>
			</div>



		</div>
	</div>
	<div class="col-md-3">
		<div><li><a href class="btn btn-primary" ng-click="frndCtrl.seeAllSendRqst()"><span
			class="glyphicon glyphicon-edit"></span>SeeAllSentRequest</a></li></div>
			<br>
			<br>
			<div><li><a href class="btn btn-primary" ng-click="frndCtrl.seeAllFrndRqst()"><span
			class="glyphicon glyphicon-edit"></span>SeeAllFriendRequest</a></li></div>
			<br>
			<br>
			<div><li><a href class="btn btn-primary" ng-click="frndCtrl.seeAllMyFriend()"><span
			class="glyphicon glyphicon-edit"></span>SeeAllFriends</a></li></div>
	</div>
</div>