<div ng-include="'./User/login.html'"></div>
<div ng-include="'./User/UserProfile.html'"></div>


<div class="col-md-9 col-md-offset-1">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="col-md-1">
						<strong><a class="post-title" href=""><b>Title:</b></a></strong>
					</div>
					<div class="col-md-3">
						<strong><a class="post-title" href=""><b>{{forumCtrl.forums.title}}</b></a></strong>
					</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-9">
								<h5>
									<b>ForumDesp:</b>
								</h5>
								<b><p>{{forumCtrl.forums.description}}</p></b>
							</div>



						</div>
					</div>
					<div class="panel-footer">
						<b>View All Comments::-</b>
					</div>
					<div class="panel-footer"
						data-ng-repeat="forumcmmnt in forumCtrl.forums.forum_comments">

						<b>Comment</b>:&nbsp{{forumcmmnt.cmmntDsp}}
					</div>


				</div>
			</div>
		</div>
	</div>
	<center>
		<b>PostComments:</b>
	</center>
	<br> <input type="text" placeholder="Join The Discussion...."
		size="80" style="border: 2px solid #85C1E9"
		ng-model="forumCtrl.comment.cmmntDsp" />

	<center>
		<a href class="btn btn-primary btn-success"
			ng-click="forumCtrl.createComment()"><span
			class="glyphicon glyphicon-hand-up"></span>AddComment</a>
	</center>
</div>